services:
  mysql:
    image: mysql:8.4
    container_name: dev-mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: identitydb
      MYSQL_USER: identity
      MYSQL_PASSWORD: identitypass
    volumes:
      - /mnt/hdd/docker/mysql:/var/lib/mysql
    networks:
      - backend
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-prootpass"]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: unless-stopped

  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      ./.env
    volumes:
      - ./config/keys:/run/keys:ro
    container_name: dev-identity
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      DB_HOST: mysql
      DB_PORT: "3306"
      DB_NAME: identitydb
      DB_USER: identity
      DB_PASS: identitypass
    networks:
      - backend
    ports:
      - "8080:8080"
    restart: unless-stopped

networks:
  backend:
